/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  text-align: left;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

.board {
  border: 1px solid #f1d1ff;
  height: 500px;
  line-height: 62.5px;
  margin: 0 0 20px 20px;
  width: 500px;
}

.board__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board__square {
  background-color: #f1d1ff;
  height: 12.5%;
  line-height: inherit;
  padding: 0;
  position: relative;
  text-align: center;
  width: 12.5%;
}
.board__square:nth-of-type(16n+16),
.board__square:nth-of-type(16n+14),
.board__square:nth-of-type(16n+12),
.board__square:nth-of-type(16n+10),
.board__square:nth-of-type(16n+7),
.board__square:nth-of-type(16n+5),
.board__square:nth-of-type(16n+3),
.board__square:nth-of-type(16n+1){
  background-color: white;
}
.board__square:nth-of-type(1)::before  { position: absolute; left: -15px; content: '8' }
.board__square:nth-of-type(9)::before  { position: absolute; left: -15px; content: '7' }
.board__square:nth-of-type(17)::before { position: absolute; left: -15px; content: '6' }
.board__square:nth-of-type(25)::before { position: absolute; left: -15px; content: '5' }
.board__square:nth-of-type(33)::before { position: absolute; left: -15px; content: '4' }
.board__square:nth-of-type(41)::before { position: absolute; left: -15px; content: '3' }
.board__square:nth-of-type(49)::before { position: absolute; left: -15px; content: '2' }
.board__square:nth-of-type(57)::before { position: absolute; left: -15px; content: '1' }
.board__square:nth-of-type(57)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'a' }
.board__square:nth-of-type(58)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'b' }
.board__square:nth-of-type(59)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'c' }
.board__square:nth-of-type(60)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'd' }
.board__square:nth-of-type(61)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'e' }
.board__square:nth-of-type(62)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'f' }
.board__square:nth-of-type(63)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'g' }
.board__square:nth-of-type(64)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; content: 'h' }
.board__square.board__square--is-active {
  background-color: #fff7cf;
}
.board__square-button {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 48px;
  height: 100%;
  line-height: inherit;
  padding: 0;
  transition: border 0.3s;
  width: 100%;
}
.board__square-button:focus {
  outline: none;
  border-color: #ddaaee;
}
.board__square-button:disabled {
  cursor: default;
}

.board__piece {
  color: black;
}
