/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  text-align: left;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

ol, ul {
  margin: 0 0 2.5rem 0;
  padding-left: 0;
}
li { margin-bottom: 1rem; }

body {
  color: #222;
  font-family: Roboto;
}

button {
  -webkit-appearance: button;
  background-color: #dbd9d7;
  border: 1px solid transparent;
  border-color: #dbd9d7;
  border-radius: 3px;
  color: #666463;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  margin: 0 0 1.5rem 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

button:disabled {
  cursor: default;
  opacity: 0.6;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

textarea {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: none;
  margin-bottom: 1.5rem;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

textarea:focus {
  border: 1px solid #dbd9d7;
  outline: none;
}

.button-icon {
  letter-spacing: 0.1rem;
  padding: 0;
  width: 38px;
}

.button-icon .fa {
  font-size: 1.4rem;
  line-height: 38px;
  vertical-align: top;
  width: 38px;
}

.pico-content {
  min-width: 300px;
}

#app {
  max-height: 100vw;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.app-section {
  margin: 0 auto;
  width: calc(90vh + 420px);
}

.col {
  float: left;
}

.board {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  height: 90vh;
  margin: 0 0 20px 20px;
  width: 90vh;
}

.board__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board__square {
  height: 12.5%;
  line-height: inherit;
  padding: 0;
  position: relative;
  text-align: center;
  width: 12.5%;
}
.board__square:nth-of-type(1)::before  { position: absolute; left: -15px; top: 0; content: '8' }
.board__square:nth-of-type(9)::before  { position: absolute; left: -15px; top: 0; content: '7' }
.board__square:nth-of-type(17)::before { position: absolute; left: -15px; top: 0; content: '6' }
.board__square:nth-of-type(25)::before { position: absolute; left: -15px; top: 0; content: '5' }
.board__square:nth-of-type(33)::before { position: absolute; left: -15px; top: 0; content: '4' }
.board__square:nth-of-type(41)::before { position: absolute; left: -15px; top: 0; content: '3' }
.board__square:nth-of-type(49)::before { position: absolute; left: -15px; top: 0; content: '2' }
.board__square:nth-of-type(57)::before { position: absolute; left: -15px; top: 0; content: '1' }
.board__square:nth-of-type(57)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'a' }
.board__square:nth-of-type(58)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'b' }
.board__square:nth-of-type(59)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'c' }
.board__square:nth-of-type(60)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'd' }
.board__square:nth-of-type(61)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'e' }
.board__square:nth-of-type(62)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'f' }
.board__square:nth-of-type(63)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'g' }
.board__square:nth-of-type(64)::after  { font-size: 16px; line-height: 16px; position: absolute; bottom: -24px; left: 46%; content: 'h' }
.board__square-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  line-height: inherit;
  padding: 0;
  transition: box-shadow 0.25s;
  width: 100%;
}
.board__square-button:focus {
  box-shadow: rgb(0, 0, 0) 0 0 0 2px inset;
  outline: none;
}
.board__square-button:disabled {
  opacity: 1;
}

.board__piece {
  display: inline-block;
  fill: #404040;
  height: 100%;
  width: 100%;
}

.game-info {
  margin-left: 40px;
  border: 1px solid #dbd9d7;
  border-radius: 3px;
  width: 300px;
}

.game-info__header {
  background-color: #f1f1f1;
  color: #666463;
  padding: 20px;
}

.game-info__main {
  display: block;
  height: 572px;
  height: calc(90vh - 118px);
  overflow: auto;
}

.game-info__captured-pieces {
  font-size: 1.6em;
}

.game-info__move-history {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.5rem;
  width: 100%;
}

.game-info__move-history th:first-child,
.game-info__move-history td:first-child {
  padding-left: 20px;
}
.game-info__move-history th,
.game-info__move-history td {
  border-bottom: 1px solid #e1e1e1;
  padding: 8px 15px;
  text-align: left;
}

.game-info__footer {
  background-color: #f1f1f1;
  height: 59px;
  line-height: 59px;
}

.is-tall .board {
  height: calc(100vw - 378px);
  width: calc(100vw - 378px);
}
.is-tall .game-info__main {
  height: calc(100vw - 378px - 118px);
}
